@import "bootstrap";
@import "variables";
@import "pages/home";

#footer {
  height: 6vh;
  background: $dark-gray;
  p.copyright {
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
  }
  p a {
    color: white;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}


