@import "variables";

#main {
  border-top: 12px solid $blue;
  height: 90vh;
  width: 100vw;
}
.logo {
  margin-bottom: 40px;
}

#landing-page {
  margin-top: 29vh;
  margin-left: 12vw;
  max-width: 60%;
  p {
    color: $light-gray;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
  }
}

.tag-line {
  width: 60%;
  max-width: 600px;
}

/* @media (max-width: 500px) { */
  /* #landing-page p { */
    /* font-size: .5em; */
  /* } */
/* } */

/* @media (max-width: 776px) { */
  /* #landing-page p { */
    /* font-size: .8em; */
  /* } */
/* } */

/* @media (max-width: 1250px) { */
  /* #landing-page p { */
    /* font-size: 1.2em; */
  /* } */
/* } */


