@import "variables";
body {
  border-top: 12px solid $blue;
}

#main {
  height: 94vh;
  width: 100vw;
}
.logo {
  margin-bottom: 20px;
}

#landing-page {
  margin-top: 20vh;
  margin-left: 15vw;
  max-width: 40%;
  p {
    color: $light-gray;
    font-size: 2em;
    font-weight: 300;
  }
}

@media (max-width: 500px) {
  #landing-page p {
    font-size: 1em;
  }
}

@media (max-width: 776px) {
  #landing-page p {
    font-size: 1.5em;
  }
}


